main{
    background-color: #191420;
}


.my-card{

    max-width: 400px;
}

#app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}


a,
.nav-link{
    &:hover{
        text-decoration: underline;
        color: #390088;
    }
}
